.grid{
    display: grid;
    grid-template-columns: 200px 200px;
    margin-bottom: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}